<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <style type="text/css">
        .login-wrap {
            display: table;
            margin: 0 auto;
            height: 100%;
        }

        .width {
            width: 100%;
        }

        .login {
            display: table-cell;
            padding: 30px 0 100px;
            width: 280px;
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div class="login-wrap">
    <div class="login">
        <form method="post" action="{{ request.full_path }}" class="pure-form pure-form-stacked">
        {{ form.hidden_tag() }}
            <fieldset>
                <legend>登录</legend>
                <br/>
                <label for="username">用户名</label>
            {% if form.username.errors %}
                {% for e in form.username.errors %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
            {% endif %}
                {{ form.username(class_='pure-input-1', placeholder='username') }}
                <label for="password">密码</label>
            {% if form.password.errors %}
                {% for e in form.password.errors %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
            {% endif %}
                {{ form.password(class_='pure-input-1', placeholder='password', type='password') }}
            </fieldset>
            <button type="submit" class="pure-button pure-button-primary width">登录</button>
            <label for="remember"></label>
            <input id="remember" type="checkbox"> Remember Me
    </form>
    </div>
</div>
</body>
</html>