<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登出</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <style type="text/css">
        .login-wrap {
            display: table;
            margin: 0 auto;
            height: 100%;
        }

        .button-success {
            color: white;
            background: rgb(28, 184, 65);
        }

        .login {
            display: table-cell;
            padding: 30px 0 100px;
            width: 280px;
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div class="login-wrap">
    <div class="login">
        <h2>已经成功退出登录</h2>
        <a role="button" class="button-success pure-button" href="/">确定</a>
    </div>
</div>
</body>
</html>