{% extends 'admin/_layouts/_layout.html' %}
{% block body %}
    <div class="pure -g">
        <div class="pure-u-1-3"></div>
        <div class="pure-u-1-3">
            <br/>
            <form method="post" action="{{ request.full_path }}" class="pure-form pure-form-stacked">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>基本设置</legend>
                    <br/>
                    <label for="site_name">站点名称</label>
                    {% if form.site_name.errors %}
                        {% for e in form.site_name.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.site_name(class_='pure-input-1') }}
                    <label for="site_url">站点地址</label>
                    {% if form.site_url.errors %}
                        {% for e in form.site_url.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.site_url(class_='pure-input-1') }}
                    <label for="site_description">站点描述</label>
                    {% if form.site_description.errors %}
                        {% for e in form.site_description.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.site_description(class_='pure-input-1') }}
                </fieldset>

                <button type="submit" class="pure-button pure-button-primary">确认</button>
            </form>
        </div>
    </div>
{% endblock %}