{% extends 'admin/_layouts/_layout.html' %}
{% block import %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}
{% block body %}
    <div id="main">
        <form method="post" action="{% if id %}/admin/update/{{ id }}{% else %}/admin/write{% endif %}"
              class="pure-form pure-form-stacked">
            {{ form.hidden_tag() }}
            <fieldset>
                <div class="pure -g">
                    <div class="pure-u-1-5"></div>
                    <div class="pure-u-3-5">
                        <legend>撰写新文章</legend>
                        <br/>
                        <label for="title">文章标题</label>
                        {% if form.title.errors %}
                            {% for e in form.title.errors %}
                                <p>{{ e }}</p>
                            {% endfor %}
                        {% endif %}
                        {{ form.title(id="title", class_='pure-input-1') }}
                        <br/>
                        {% if form.text.errors %}
                            {% for e in form.text.errors %}
                                <p class="help-block">{{ e }}</p>
                            {% endfor %}
                        {% endif %}
                        <div id="editor" class="form-control">
                            {{ form.text(id="markdown", style="display:none;") }}
                        </div>
                    </div>
                </div>
                <br/>
                <div class="pure -g">
                    <div class="pure-u-18-24"></div>
                    <div class="pure-u-1-8">
                        <button class="pure-button pure-button-primary" type="submit">发表</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <script>
            var editor = new SimpleMDE({element: $("#markdown")[0]});
        </script>
    </div>
{% endblock %}