<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title>网站管理 - {{ title }} - Powered by Depora</title>
    {% else %}
        <title>网站管理 - Powered by Depora</title>
    {% endif %}
    {#    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/_style.css') }}">#}
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    {% block import %}
    {% endblock %}
    <style>
        .is-active {
            color: white;
            background-color: dodgerblue;
        }

        .top-menu-color {
            background-color: #191918;
        }

        .top-menu-item {
            color: #AAAAAA;
        }

        .top-menu-item:hover {
            background-color: #303030;
        }
    </style>
</head>
<body>
<div class="pure-menu pure-menu-horizontal top-menu top-menu-color">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/admin" class="pure-menu-link top-menu-item">网站概览</a></li>
        <li class="pure-menu-item"><a href="/admin/write" class="pure-menu-link top-menu-item ">写文章</a></li>
        <li class="pure-menu-item"><a href="/admin/manage" class="pure-menu-link top-menu-item">管理</a></li>
    </ul>
</div>
{% block body %}
    body
{% endblock %}
</body>
</html>