{% macro pagination_widget(pagination, endpoint) %}
    {% if pagination.has_prev %}
        <div class="pure-u-1-8">
            <a role="button" class="pure-button" href="

                    {% if pagination.has_prev %}{{ url_for(endpoint, page = pagination.page - 1, **kwargs) }}{% else %}#{% endif %}">前一页</a>
        </div>
    {% else %}
        <div class="pure-u-1-8">
            <button class="pure-button">前一页</button>
        </div>
    {% endif %}
    {% if pagination.has_next %}
        <div class="pure-u-1-8">
            <a role="button" class="pure-button" href="

                    {% if pagination.has_next %}{{ url_for(endpoint, page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">后一页</a>
        </div>
    {% else %}
        <div class="pure-u-1-8">
            <button class="pure-button">后一页</button>
        </div>
    {% endif %}
{% endmacro %}