{% extends "layouts/_layout.html" %}
{% import "layouts/_macros.html" as macros %}
{% block body %}
    <div class="posts">
        {% for article in articles %}
            <div class="post">
                <h1 class="post-title">
                    <a href="/article/{{ article.id }}">
                        {{ article.title }}
                    </a>
                </h1>

                <span class="post-date">{{ article.publish }}</span>
                {{ article.content }}
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, ".index") }}
    </div>
{% endblock %}
