<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <style type="text/css">
        .install-wrap {
            display: table;
            margin: 0 auto;
            height: 100%;
        }

        .width {
            width: 100%;
        }

        .install {
            display: table-cell;
            padding: 30px 0 100px;
            width: 280px;
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div class="install-wrap">
    <div class="install">
        <form method="post" action="{{ request.full_path }}" class="pure-form pure-form-stacked">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>安装</legend>
                <br/>
                <label for="blog_name">博客名字</label>
                {% if form.blog_name.errors %}
                    {% for e in form.blog_name.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.blog_name(class_='pure-input-1', placeholder='blog name') }}
                <label for="database_address">数据库地址</label>
                {% if form.database_address.errors %}
                    {% for e in form.database_address.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.database_address(class_='pure-input-1', placeholder='address') }}
                <label for="database_name">数据库名</label>
                {% if form.database_name.errors %}
                    {% for e in form.database_name.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.database_name(class_='pure-input-1', placeholder='name') }}
                <label for="database_username">数据库用户名</label>
                {% if form.database_username.errors %}
                    {% for e in form.database_username.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.database_username(class_='pure-input-1', placeholder='username') }}
                <label for="database_password">数据库密码</label>
                {% if form.database_password.errors %}
                    {% for e in form.database_password.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.database_password(class_='pure-input-1', placeholder='password', type='password') }}
            </fieldset>
            <button type="submit" class="pure-button pure-button-primary width">确认</button>
        </form>
    </div>
</div>
</body>
</html>